.card {
  border: 1px solid #FFFFFF;
  border-radius: 10px;
  box-shadow: 4px 4px #FFFFFF;
  text-align: center;
  padding: 50px;
}

.card > h2 {
  font-size: 32px;
}

.card img {
  border-radius: 10px;
}